<ion-content>

<div *ngIf="isLoaded">
<ion-header>
  <ion-toolbar>
    <ion-title color="primary" class="ion-text-center">
      {{this.quizData.quiz}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<div *ngIf="this.quizIsActive">
  <ion-list class="ion-text-center">

    <!-- change the questions header element to be an item along with the text to read for the reading section -->
    <!-- make it empty for the math section -->

    <ion-list-header>
      <ion-label>
        The Learning Tree
      </ion-label>
    </ion-list-header>


    <div class="quizHeight">

      <div *ngIf="true">

        <ion-item>
          {{this.quizData.questions[this.currentQuestion].passage}}
        </ion-item>

      </div>
     

      <ion-item>
        {{this.quizData.questions[this.currentQuestion].question}}
      </ion-item>

      <ion-item  *ngFor="let answer of this.quizData.questions[this.currentQuestion].answers" button (click)="answerSelect($event, answer)" [class]="itemColor">
        {{answer}}
      </ion-item>

    </div>

  </ion-list>

  <ion-button color="secondary" expand="block" (click)="nextButtonClick($event.target)">Next</ion-button>
</div>
<div *ngIf="!this.quizIsActive">
  <ion-list>
    <ion-list-header>
      <ion-label>
        Your Score: {{this.score}}%
      </ion-label>
    </ion-list-header>

    <ion-item>
      Number Correct: {{this.numberCorrect}}
    </ion-item>
    <ion-item>
      Number Incorrect: {{this.numberWrong}}
    </ion-item>
  </ion-list>
  <ion-button color="secondary" expand="block" [routerLink]="['/profile/personality-quiz']" [state]="{assessmentComplete: true}">Back to Home Screen</ion-button>
</div>
</div>

</ion-content>