.onboarding-header-text {

    font-size: 40px;
    color: rgb(82, 82, 82);

}

.onboarding-secondary-text {

    font-size: 25px;
    color: rgba(82, 82, 82, 0.425);

}

.container {

    height: 100vh;
    background: linear-gradient(to bottom, white, #5ddfc1) ;

}

.split-pane{
    padding: 5%;
    height: 50%;
    
}

.spacer {
    height: 20px;
}