.onboarding-header-text {

    font-size: 40px;
    color: rgb(82, 82, 82);

}

.onboarding-secondary-text {

    font-size: 25px;
    color: rgba(82, 82, 82, 0.425);

}

.split-pane{
    padding: 5%;
    height: 50%;
    
}

.spacer {
    height: 20px;
}

.center {
    margin: 0 !important;
}

.fullHeight {
    max-height:100% !important;
    margin:0 !important;
}

ion-grid {
    height: 100vh;
    // background: linear-gradient(to bottom, white, #5ddfc1) ;
    background: linear-gradient(to bottom, white, #5d75df) ;

    ion-row {
      height: 50%;
      
      ion-col {
          height:100%;

      }

    }

  }