

<ion-content>

  <div class="container">
    <ion-card color="secondary" button (click)="onClick($event, 'boy-1')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/boy-1.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'boy-2')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/boy-2.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'boy-3')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/boy-3.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'boy-4')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/boy-4.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'boy-5')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/boy-5.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'boy-6')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/boy-6.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'boy-7')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/boy-7.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'boy-8')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/boy-8.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'boy-8')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/boy-8.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'boy-10')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/boy-10.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'boy-11')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/boy-11.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'boy-12')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/boy-12.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'boy-13')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/boy-13.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'boy-14')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/boy-14.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'boy-15')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/boy-15.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'boy-16')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/boy-16.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'boy-17')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/boy-17.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'boy-18')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/boy-18.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'boy-19')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/boy-19.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'boy-20')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/boy-20.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'boy-21')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/boy-21.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'boy-22')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/boy-22.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'boy')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/boy.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    
    <ion-card color="secondary" button (click)="onClick($event, 'girl-1')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/girl-1.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'girl-2')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/girl-2.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'girl-3')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/girl-3.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'girl-4')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/girl-4.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'girl-5')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/girl-5.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'girl-6')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/girl-6.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'girl-7')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/girl-7.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'girl-8')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/girl-8.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'girl-9')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/girl-9.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'girl-10')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/girl-10.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'girl-11')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/girl-11.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'girl-12')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/girl-12.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'girl-13')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/girl-13.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'girl-14')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/girl-14.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'girl-15')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/girl-15.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'girl-16')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/girl-16.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'girl-17')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/girl-17.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'girl-18')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/girl-18.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'girl-19')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/girl-19.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'girl-20')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/girl-20.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'girl-21')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/girl-21.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'girl-22')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/girl-22.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'girl-23')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/girl-23.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'girl-24')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/girl-24.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'girl-25')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/girl-25.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'girl-26')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/girl-26.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
    <ion-card color="secondary" button (click)="onClick($event, 'girl')">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" [src]="'assets/avatars/girl.png'" >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-card>
   
    <ion-button color="secondary" [routerLink]="['/profile']" expand="block" [state]="{avatar: this.avatarSelection}"> Finish </ion-button>

  </div>
  

</ion-content>
 