<ion-header>
  <ion-toolbar>
    <ion-title (click)="closeModal()">Go Back</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
  
    <div class="container">
      <ion-card color="secondary">
        <ion-row>
          <ion-col></ion-col>
          <ion-col size="3" class="parent">
            <img class="child" [src]="'assets/avatars/boy-6.png'">
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
        
      </ion-card>
      <ion-card color="secondary">
        <ion-row>
          <ion-col></ion-col>
          <ion-col size="3" class="parent">
            <img class="child" [src]="'assets/avatars/boy-10.png'">
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
        
      </ion-card>
  
      <ion-card color="secondary">
        <ion-row>
          <ion-col></ion-col>
          <ion-col size="3" class="parent">
            <img class="child" [src]="'assets/avatars/boy-11.png'">
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
        
      </ion-card>
  
      <ion-card color="secondary">
        <ion-row>
          <ion-col></ion-col>
          <ion-col size="3" class="parent">
            <img class="child" [src]="'assets/avatars/boy-12.png'">
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
        
      </ion-card>
  
      <ion-card color="secondary">
        <ion-row>
          <ion-col></ion-col>
          <ion-col size="3" class="parent">
            <img class="child" [src]="'assets/avatars/boy-13.png'">
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
        
      </ion-card>
        
    </div>
    
  
  </ion-content>
   