<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="sign-in"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="profile-content">
  <ion-row class="user-details-wrapper">
    <ion-col size="6" class="user-image-wrapper">
      <img class="user-image" [src]="user.image">
    </ion-col>
    <ion-col class="user-info-wrapper" size="12">
      <h3>{{user.name}}</h3>
      <p>{{user.description}}</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <h4>Mobile</h4>
      <p>
        {{user.phoneNumber}}
      </p>
    </ion-col>
    <ion-col size="12">
      <h4>Email</h4>
      <p>
        {{user.email}}
      </p>
    </ion-col>
    <ion-col size="12">
      <h4>Auth Provider</h4>
      <p>
        {{user.provider}}
      </p>
    </ion-col>
    <ion-col size="12">
      <ion-button expand="block" fill="outline" color="primary" (click)="signOut()">Sign out</ion-button>
      <ion-button expand="block" fill="outline" color="primary" (click)="openModal()">Modal</ion-button>
    </ion-col>
  </ion-row>
</ion-content> -->

<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="sign-in"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="container">
    <div class="split-pane-profile">
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="3" class="parent">
          <img class="child" (click)="openModal()" [src]=this.user.image>
        </ion-col>
        <ion-col size="1"></ion-col>
        <ion-col size="6">
          <h3 class="profile-header-text">Hi, Demarcus</h3>
          <p class="profile-secondary-text">"The secret of getting ahead is getting started" ~ Mark Twain</p>
        </ion-col>
      </ion-row>
    </div>

    <ion-card button *ngFor="let quiz of this.quizList; first as isFirst" [routerLink]="['/quiz']" [state]="{quizName: quiz.id}">
      <ion-row *ngIf="isFirst || assessmentComplete">
        <ion-col size="2" class="parent">
            <ion-icon class="child icon-style" color="medium" name="star"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-card-content>
            {{quiz.name}}: {{quiz.description}}
          </ion-card-content>
        </ion-col>
      </ion-row>

    </ion-card>    
  </div>
  

</ion-content>